public/
public/**
.public-serve.sh
**/resources/_gen
**/resources/_gen/**
**/*.bak
**/.dir
**/.*.lock
**/.terraform.lock.hcl
**/terraform.tfstate*
**/*filtered*.ipynb
**/*filtered*.md
**/*.md.0
**/*.tf.*
**/.ipynb_checkpoints/
**/.ipynb
**/BAK/
**/bak/
**/README.ipynb.filtered.ipynb.bak
**/README.ipynb.filtered.md.bak
**/*.ipynb.filtered.html
**/.converting
